<form method="post" action="{{ path('jarduerak_delete', {'id': jarduerak.id}) }}" onsubmit="return confirm('{{"Seguru elementu hau ezabatu nahi duzula"|trans}}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jarduerak.id) }}">
    <button class="btn">{{ 'Ezabatu' |trans }}</button>
</form>
