<form method="post" action="{{ path('fitxak_delete', {'id': fitxak.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fitxak.id) }}">
    <input type="hidden" name="returnUrl" value="">
    <button class="btn js-delete"><i class="bi bi-trash"></i></button>
</form>
