<form method="post" action="{{ path('nazionalitatea_delete', {'id': nazionalitatea.id}) }}" onsubmit="return confirm('{{"Seguru elementu hau ezabatu nahi duzula"|trans}}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nazionalitatea.id) }}">
    <button class="btn">{{ 'Ezabatu' |trans }}</button>
</form>
