<form method="post" action="{{ path('gaitasuna_delete', {'id': gaitasuna.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gaitasuna.id) }}">
    <button class="btn">{{ 'Ezabatu' |trans }}</button>
</form>
