<form method="post" action="{{ path('errolda_delete', {'id': errolda.id}) }}" onsubmit="return confirm('{{"Seguru elementu hau ezabatu nahi duzula"|trans }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ errolda.id) }}">
    <button class="btn">{{"Ezabatu"|trans}}</button>
</form>
